{% extends 'main/base.html' %}
{% block title %}Education{% endblock %}

{% block content %}
<section id="education" class="section" data-aos="fade-right" data-aos-delay="200">
  <h2>Education</h2>
  <div class="education-container">
    {% for edu in education %}
      <div class="education-card" data-aos="zoom-in" data-aos-delay="300">
        <img src="{{ edu.photo.url }}" class="education-photo">
        <h3>{{ edu.degree }}</h3>
        <p><strong>Institution:</strong> {{ edu.institution }}</p>
        <p><strong>Duration:</strong> {{ edu.duration }}</p>
        <p><strong>Result:</strong> {{ edu.result }}</p>
        <p>{{ edu.description }}</p>
        <p><strong>Location:</strong> {{ edu.location }}</p>
        <a href="{{ edu.maps_link }}" target="_blank" class="resume-btn">📍 View on Google Maps</a>

        <div class="education-gallery">
          {% for img in edu.images.all %}
            <img src="{{ img.image.url }}" alt="Gallery" class="education-gallery-photo" data-aos="fade-up" data-aos-delay="400">
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
